.collection-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 150px;
  // border: 1px solid black;

  h3 {
    font-size: 22px;
    font-weight: 500;
    color: #0f0e0e;
    text-align: left;
    margin-bottom: 0;
  }

  .collection-wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

    .coll-img {
      width: 900px;
      height: 500px;
      background-repeat: no-repeat;
      background-position: center;

      button {
        width: 120px;
        height: 35px;
        background-color: rgba(35, 7, 7, 0.4);
        color: white;
        border: 1px solid white;
        &:hover {
          cursor: pointer;
          color: black;
          background-color: white;
          border-color: black;
        }
      }

      h2,
      h4 {
        // z-index: 999;
        -webkit-text-stroke: 0.2px black;
        color: rgb(255, 255, 255);
        -webkit-font-smoothing: antialiased;
        text-align: left;
        margin-left: 20px;
      }
    }

    .right-img {
      background-image: url("../../assets/images/collection2.jpg");
    }

    .left-img {
      background-image: url("../../assets/images/collection1.jpg");
    }
  }
}

.explore-btn {
  width: 200px;
  height: 50px;
  float: right;
  margin-top: 10px;
  font-size: medium;
  background: transparent;
  border: 1px solid black;

  &:hover {
    cursor: pointer;
    color: white;
    background-color: black;
  }
}

// .collections-wrapper {
//

//   .collection-item {
//     position: relative;
//     margin: 0 auto;
//
//     .collection-title {
//       top: 45%;
//       left: 7%;
//       position: absolute;
//       text-align: left;
//       z-index: 1;
//       color: white;
//       margin-bottom: 0px;
//       .title-wrapper {
//         -webkit-text-stroke: 0.2px black;
//         color: rgb(255, 255, 255);
//         -webkit-font-smoothing: antialiased;
//       }
//       h2 {
//         font-size: 2.5rem;
//       }

//       h4 {
//         font-size: 1rem;
//       }
//       p {
//         font-size: 1rem;
//       }

//
//     }
//   }
// }
