.img-wrapper {
  background-image: url("../../assets/images/events.jpg");
  background-size: cover;
  width: 80%;
  height: 550px;
  margin: 0 auto;
  margin-top: 50px;
  color: white;
  text-align: left;
  padding: 20px;
  box-sizing: border-box;
  padding-top: 300px;
  -webkit-text-stroke: 0.2px black;
  color: rgb(255, 255, 255);
  -webkit-font-smoothing: antialiased;
}
