.img-wrapper {
  background-image: url("../../assets/images/events.jpg");
  background-size: cover;
  width: 80%;
  height: 550px;
  margin: 0 auto;
  margin-top: 50px;
  color: white;
  //   filter: brightness(70%);
  text-align: left;
  padding: 20px;
  vertical-align: bottom;
}
