.events-wrapper {
  width: 80%;
  margin: 0 auto;
  margin-top: 150px;

  h3 {
    font-size: 22px;
    font-weight: 500;
    color: #0f0e0e;
    text-align: left;
    margin-bottom: 0;
  }
  .img-wrapper {
    background-image: url("../../assets/images/events.jpg");
    background-size: cover;
    height: 550px;
    margin-top: 20px;
    color: white;
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
    padding-top: 300px;
    -webkit-text-stroke: 0.2px black;
    color: white;
    -webkit-font-smoothing: antialiased;
  }

  .events-btn {
    width: 200px;
    height: 50px;
    float: right;
    margin-top: 10px;
    font-size: medium;
    background: transparent;
    border: 1px solid black;

    &:hover {
      cursor: pointer;
      color: white;
      background-color: black;
    }
  }
}
