.artwork-wrapper {
  width: 81%;
  margin: 0 auto;
  margin-top: 150px;

  h3 {
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    color: #0f0e0e;
    text-align: left;
  }

  .grid-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-between;

    .card-image {
      width: 500px;
      height: 450px;
      // margin: 0 auto;
      // border: 1px solid black;
      background-color: #f9f9f9;
      margin-bottom: 10px;

      .heart-symbol-card {
        float: right;
        margin-top: 10px;
        margin-right: 10px;
        cursor: pointer;
      }

      .grid-image {
        background-repeat: no-repeat;
        color: white;
        margin-bottom: 10px;
        height: 75%;
        width: 90%;
        margin: 0 auto;
        margin-top: 25px;
      }
    }

    .grid-image-title {
      // margin-top: 5px;
      background-color: white;
      // height: 25%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .grid-title {
        font-size: 1.5rem;
        margin-bottom: 0px;
        margin-top: 0px;
      }
      .grid-subtitle {
        font-size: 1rem;
      }

      .upload-icon {
        width: 30px;
        height: 30px;
      }
    }
  }

  .explore-btn {
    width: 200px;
    height: 50px;
    float: right;
    margin-top: 10px;
    font-size: medium;
    background: transparent;
    border: 1px solid black;

    &:hover {
      cursor: pointer;
      color: white;
      background-color: black;
    }
  }
}

@media screen and (max-width: 1020px) {
  .artwork-wrapper {
    width: 95% !important;
    margin: 0 auto;
    // margin-top: 150px;
  }
}
