.galleries-hover {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  background-color: #f0f0f0;
  height: 40vh;
  transition: 2s ease-in-out;

  .vertical-line {
    border-left: 1px solid gray;
    height: 200px;
    position: absolute;
    left: 52%;
    margin-left: -3px;
    top: 0;
    margin-top: 220px;
  }

  ul {
    margin-top: 50px;

    li {
      list-style-type: none;
      padding-bottom: 15px;
    }
  }

  img {
    height: 220px;
    width: 220px;
    margin-top: 50px;
  }
}
