.editorial-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;

  h3 {
    font-size: 22px;
    font-weight: 500;
    color: #0f0e0e;
    text-align: left;
    margin-bottom: 0;
  }

  .editorial-wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .editorial-item {
      width: 490px;
      height: 600px;
      border: 1px solid gray;

      img {
        width: 100%;
        height: 30%;
      }

      p {
        font-size: 16px;
        font-weight: 200;
        line-height: 24px;
        text-align: left;
      }

      .title-edit-container {
        width: 90%;
        margin: 0 auto;
        .editorial-title {
          text-align: left;
          margin-left: 15px;
        }

        .read-btn {
          text-align: right;
          button {
            border: none;
            background-color: transparent;
            cursor: pointer;
            text-decoration: underline;
            font-size: medium;
          }
        }
      }
    }
  }

  .edit-btn {
    width: 200px;
    height: 50px;
    float: right;
    margin-top: 40px;
    font-size: medium;
    background: transparent;
    border: 1px solid black;

    &:hover {
      cursor: pointer;
      color: white;
      background-color: black;
    }
  }
}

@media screen and (max-width: 1020px) {
  .editorial-container {
    width: 80%;
    margin: 0 auto;

    .editorial-wrapper {
      margin-top: 100px;
      display: flex;
      justify-content: space-between;
      // flex-wrap: wrap;
      flex-direction: column;
      //   border: 1px solid red;

      .editorial-item {
        width: 100%;
        height: 600px;
        margin-bottom: 30px;
        background-color: #f7f7f7;
        border: none;

        img {
          width: 90%;
          height: 35%;
        }
      }
    }
  }
}
