.header {
  width: 80%;
  margin: 0 auto;
  height: 15vh;
  position: sticky;
  top: 0;
  z-index: 999;

  .top-nav {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .heart-icon {
      margin-left: 20px;

      &:hover {
        cursor: pointer;
        color: red;
      }
    }

    .online-shop {
      margin-left: 40px;

      &:hover {
        cursor: pointer;
        color: red;
      }
    }

    input {
      background-color: #f6f6f6;
      height: 40px;
      width: 300px;
      border: none;
    }
  }

  .bottom-nav {
    width: 100%;

    ul {
      display: flex;
      list-style-type: none;
      justify-content: space-between;

      .small-logo {
        display: none;
      }

      div {
        display: flex;
      }

      span {
        margin-right: 100px;
        margin-top: 9px;
      }
      li {
        margin-right: 1rem;
        font-weight: 400;
        line-height: 20px;
        font-size: 20px;

        &:hover {
          cursor: pointer;
          color: red;
        }
      }
    }
  }
}

.responsive-header {
  display: none;
}

.changeColorSize {
  width: 100% !important;
  box-shadow: 0 8px 8px -4px lightblue;
  background-color: white;
  height: 7vh;
  padding-top: 10px;
}

.top-nav-none {
  display: none;
}

@media (max-width: 1120px) {
  .header {
    display: none;
  }
    .responsive-header {
      display: block;
      display: flex;
      justify-content: space-between;
    }
  

  
}
