.bottom-nav {
    width: 70%;
  ul {
    display: flex;
    list-style-type: none;
    border: 1px solid black;
    justify-content: right;
    li {
      margin-right: 1rem;
      border: 1px solid black;
    }
  }
}

.top-nav {
  span {
      margin-left: 20px;
  }

}