.expanding-wrapper {
  width: 80vw;
  margin: 0 auto;
  margin-top: 300px;
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    .sec {
      overflow: hidden;
      position: relative;
      min-width: 5%;
      color: #fff;
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      min-height: 500px;
      transition: 0.5s;

      &:hover {
        min-width: 60%;
        transition: 0.8s ease-in-out;
      }
    }

    .frame {
      background: #0f0523 50% 50% / cover;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      -webkit-transition: 1s;
      transition: 1s;
      cursor: pointer;
      display: flex;

      p {
        align-self: flex-end;
        color: white;
        margin: 0 auto;
        font-size: 1.3rem;
        margin-bottom: 15px;
        -webkit-text-stroke: 0.2px black;
        color: rgb(255, 255, 255);
        -webkit-font-smoothing: antialiased;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }

  .toggle-btns {
    margin-top: 10px;
    display: flex;
    justify-content: center;

    .toggle-btn {
      width: 30px;
      height: 3px;
      background-color: #808080;
      margin-right: 10px;
      cursor: pointer;
    }

    .active {
      background-color: black;
    }
  }
}
